<!DOCTYPE html>
<html lang="en" ng-app="GroceryApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css">
    <script src="/libs/angular/angular.js"></script>
    <script src="/libs/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/app/app.module.js"></script>
    <script src="/app/app.controller.js"></script>    
    <script src="/app/state.controller.js"></script>
    <script src=""></script>
    <title>Grocery List</title>
</head>
<body ng-controller="GroceryCtrl as groceryCtrl">
    <div class="container">
        <div class="row">
            <h2>Grocery List</h2>
        </div>
<!-- Search Bar -->
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <form name="searchBrands" novalidate ng-submit="groceryCtrl.searchProducts()">
                    <div class="form-group">
                        <label for="term">Brand/Product:</label>
                        <div class="input-group">
                            <input id="term" class="form-control" type="text"name="term" ng-model="groceryCtrl.searchTerm" / >
                            <span class="input-group-btn">
                                <button class="btn btn-success" type="submit">Search</button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-8 pull-right" >
                <button class="btn btn-primary">Add Items</button>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <form name="searchProducts" novalidate ng-submit="groceryCtrl.getProducts()">
                    <div class="form-group">
                        <label for="product">Product:</label>
                        <div class="input-group">
                            <input id="product" class="form-control" type="text"name="product" ng-model="groceryCtrl.productName" / >
                            <span class="input-group-btn">
                                <button class="btn btn-success" type="submit">Search</button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div> -->
        <div class="panel panel-default bg-danger" ng-show="groceryCtrl.notfound == true">
                <div class="panel-body bg-danger">
                        Sorry, the product you have requested is not found.               
                </div>
        </div>

<!-- Views -->
        <div ui-view></div>
<!-- Table  -->
            <table class="table table-striped" >
                <tr>
                    <th>#</th>
                    <th>Barcode</th>
                    <th>Brand <span class="glyphicon glyphicon-triangle-bottom" ng-click="groceryCtrl.sortBrandDesc()" style="cursor:pointer"></span>
                    <span class="glyphicon glyphicon-triangle-top
                    " ng-click="groceryCtrl.sortBrandAsc()" style="cursor:pointer"></span>
                    </th>
                    <th>Product Name</th>
                    <th>Edit</th>
                </tr>
                <tr ng-repeat="g in groceryCtrl.groceries">
                    <td>{{ g.id }}</td>
                    <td><img src="http://www.barcodes4.me/barcode/c128a/{{g.upc12}}.png?IsTextDrawn=1" alt="" srcset="" width="100px">   </td>
                    <td>{{ g.brand }}</td>
                    <td>{{ g.name }}</td>
                    <td> <button class="btn btn-default" ui-sref="edit" ng-click="groceryCtrl.editProduct(g.id, g.brand, g.name)">Edit Product</button></td>
                </tr>
            </table>
    </div>
</body>
</html>