<div class="row">
    <div class = "col-md-12">
        <h3></h2>Edit {{ editCtrl.productInfo.name }}</h3>
    </div>

    <div class="col-md-8">
            <form>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input id="name" class="form-control" type="text" name="name"
                            ng-model="groceryCtrl.productInfo.name">
                </div>
                <div class="form-group">
                    <label for="address">Brand</label>
                    <input id="address" class="form-control" type="text" name="address"
                            ng-model="editCtrl.productInfo.brand">
                </div>
                <div class="form-group">
                    <label for="city">Barcode</label>
                    <input id="city" class="form-control" type="text" name="city"
                            ng-model="customerCtrl.customer.CITY">
                </div>
            </form>

        </div>


    <a ui-sref="home">Back</a>
    
</div>